.Jumbotron {
    background-color: #d3c65f;
    color: black;
    padding: 100px 25px;
}

.container-fluid {

    padding: 60px 50px;
    text-align: center;
    font-size: 17px;
}

.table-striped{
    width:70%;
    margin-left:15%;
    margin-right:15%;
}

.btn{
    background-color: #ba4c16;
    color: white;

}
.btn:hover{
    background-color: #f96b25;
    color: white;

}

h1{
    color:#fff3e5;
    font-size: 60px;
}